<ion-view ng-controller="specialitySearchZoom" data-ng-init="getSpecialities()">  
  <ion-header-bar>
     <h1 class="title">Busca Especialidades</h1>
    <div class="buttons">
      <button class="button button-clear" ng-click="closeZoom('sp')">Voltar</button>
    </div>
  </ion-header-bar>
  <ion-content>
    <label class="item item-input">
      <i class="icon ion-search placeholder-icon"></i>
      <input type="search" ng-model="searchText" placeholder="Filtrar...">
    </label>
    <ion-list id="searchTextResults">
      <ion-item ng-dblclick="" ng-repeat="speciality in specialities | filter:searchText"  class="item item-radio">
        <label class="item item-radio" ng-click="setSpecChoice(speciality); closeZoom()"> 
          <input type="radio" name="group">
            <div class="item-content">
              <p>
                <span> {{speciality.description.toProperCase()}} </span>                               
              </p>              
            </div>
            <i class="radio-icon ion-checkmark"></i>
        </label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
